alabaster==0.7.12
apparmor==2.13.3
appdirs==1.4.3
application-utility==1.3.1
arabic-reshaper==2.0.15
astroid==2.3.3
attrs==19.3.0
Babel==2.8.0
backcall==0.1.0
bauh==0.8.3
beautifulsoup4==4.8.2
bleach==3.1.1
Brlapi==0.7.0
bs4==0.0.1
btrfsutil==1.1.1
CacheControl==0.12.6
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cloudpickle==1.2.2
colorama==0.4.3
contextlib2==0.6.0
cryptography==2.8
cupshelpers==1.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.0
distro==1.4.0
dnspython==1.16.0
docopt==0.6.2
docutils==0.14
entrypoints==0.3
future==0.18.2
gpg==1.13.1
hazm==0.7.0
html5lib==1.0.1
idna==2.9
imagesize==1.2.0
importlib-metadata==1.5.0
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.1.0
ipywidgets==7.5.1
isort==4.3.21
Jade-Application-Kit==2.1.3
jedi==0.15.1
Jinja2==2.11.1
jsonschema==3.2.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-core==4.6.3
keyutils==0.6
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
lensfun==0.3.95
LibAppArmor==2.13.3
libvirt-python==5.8.0
libwapiti==0.2.1
louis==3.13.0
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
meson==0.53.2
mistune==0.8.4
msgpack==0.6.2
mysql-connector-python==8.0.19
nbconvert==5.6.1
nbformat==4.4.0
nltk==3.3
notebook==6.0.3
notify2==0.3.1
npyscreen==4.10.5
numpy==1.18.2
ordered-set==3.1.1
packaging==20.2
pacman-mirrors==4.16.4
pandas==1.0.3
pandocfilters==1.4.2
parso==0.6.1
pep517==0.8.1
persepolis==3.2.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
progress==1.5
prometheus-client==0.7.1
prompt-toolkit==3.0.3
psutil==5.7.0
ptyprocess==0.6.0
pwquality==1.4.2
pyaes==1.6.1
pyaml==19.12.0
pyasn1==0.4.8
pycairo==1.19.1
pycodestyle==2.5.0
pycparser==2.20
pycups==1.9.74
pycurl==7.43.0.5
pyflakes==2.1.1
Pygments==2.5.2
PyGObject==3.34.0
pylast==3.2.1
pylint==2.4.4
pymongo==3.10.1
PyOpenGL==3.1.5
pyparsing==2.4.6
PyQt5==5.14.1
PyQt5-sip==12.7.1
PyQtWebEngine==5.14.0
Pyrogram==0.16.0
pyrsistent==0.15.7
pysmbc==1.0.18
PySocks==1.7.0
python-bidi==0.4.2
python-dateutil==2.8.1
python-libtorrent==1.2.4
python-telegram-bot==12.4.2
pytoml==0.1.21
pytz==2019.3
PyYAML==5.3
pyzmq==18.1.1
QOpenVPN==2.0.0
QtAwesome==0.6.0
qtconsole==4.6.0
QtPy==1.9.0
rados==2.0.0
rbd==2.0.0
reportlab==3.5.34
requests==2.23.0
retrying==1.3.3
rgw==2.0.0
rope==0.16.0
rsa==4.0
Send2Trash==1.5.0
setproctitle==1.1.10
sip==4.19.21
six==1.14.0
snowballstemmer==2.0.0
soupsieve==2.0
Sphinx==2.4.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
spyder==3.3.6
spyder-kernels==0.5.2
team==1.0
telegraph==1.4.0
Telethon==1.11.3
terminado==0.8.3
testpath==0.4.4
textblob==0.15.3
toml==0.10.0
torbrowser-launcher==0.3.2
tornado==6.0.4
traitlets==4.3.3
udiskie==2.1.0
urllib3==1.25.8
wcwidth==0.1.8
webencodings==0.5.1
widgetsnbextension==3.5.1
wordcloud==1.6.0
wordcloud-fa==0.1.6
wrapt==1.12.0
wurlitzer==2.0.0
youtube-dl==2020.3.8
zipp==3.1.0
